body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
    margin: 20px ;
}

footer{
    background-color: cadetblue;
    color: aliceblue;
    padding: 15px;
    text-align: center;
    font-size: large;
}     